.formWrapper h1 {
  font-size: 22px;
  font-weight: bolder;
  color: #371f76;
}

.formWrapper h2 {
  font-size: 14px;
  color: #ac94f4;
  font-weight: 600;
}

.formWrapper form input {
  width: 300px;
  padding: 10px;
  outline: none;
  border-bottom: 2px solid #ddd;
}

.formWrapper form input::placeholder {
  color: #bbb;
}

.formWrapper form label {
  color: #bbb;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.formWrapper form img {
  width: 40px;
  height: 40px;
}

.navbar {
  color: #fff;
}

.navbar .brand {
  font-size: 22px;
  font-weight: bolder;
}

.navbar .owner img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.search {
  width: 100%;
  padding: 10px;
}

.search input {
  width: 100%;
  background-color: transparent;
  outline: none;
  padding: 5px;
  color: #fff;
}

.search input::placeholder {
  color: #eee;
}

.userChatWrapper {
  border-bottom: 2px solid #cacaca;
}

.userChat {
  width: 100%;
  margin-top: 10px;
}

.userChat img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.userChat h1 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.userChat h2 {
  color: #cacaca;
  font-size: 12px;
  font-weight: 600;
}
